.container {
    height: 100%;
    position: relative;
}
.light.container {
    background-color: #62554F;
}
.dark.container {
    background-color: #232B38;
}
.headerWrap,.projectsWrap{
    display: flex;
    align-items: center;
    justify-content: center;
}
.projectsWrap {
    margin: 60px  0 40px;
}
.project {
    width: 350px;
    height: 350px;
    border-radius: 5px;
    margin-right: 20px;
}
.light.project{
    background-color: #e1e1e1;
}
.dark.project {
    background-color: #3E4652;
}
.mounted {
    padding: 8px 10px;
    border-radius: 4px;
    position: absolute;
    top: 20px;
    right: 100px;
    border: 1px solid #0a73eb;
    color: #0a73eb;
    opacity: 0;
    transform: translateY(-35px);
    animation: showMount 2s linear 0.2s
}
@keyframes showMount {
    0% {
        opacity: 0;
        transform: translateY(-35px);
    }

    30%,
    70% {
        opacity: 1;
        transform: translateY(0);
    }
}