.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 80px;
    height: 50px;
    padding: 0 15px;
    box-sizing: border-box;
    border-radius: 5px;
    letter-spacing: .1em;
    cursor: pointer;
    font-weight: bold;
}
.light.button {
    background-color: #62554f;
    color: #fff;
}
.dark.button {
    background-color: #D48A68;
    color: #F4F4F4;
}
.upperCase {
    text-transform: uppercase;
}