.pageHeadingWrap {
    width: 360px;
    padding: 35px 0 16px;
    border-bottom: 1px solid transparent;
    text-align: center;
}
.light.pageHeadingWrap.black {
    color: #483F40;
    border-color: #483F40;
}
.light.pageHeadingWrap.black {
    color: #483F40;
    border-color: #483F40;
}
.dark.pageHeadingWrap.black {
    color: #E2E4E6;
    border-color: #E2E4E6;
}
.pageHeadingWrap.white {
    border-color: #E1E1E1;
    color: #E1E1E1;
}
.name {
    font-size: 24px;
    letter-spacing: .3em;
    line-height: 30px;
    text-transform: uppercase;
}
.tabName {
    font-size: 48px;
    font-weight: bold;
    letter-spacing: .3em;
    line-height: 60px;
    text-transform: uppercase;
}