.aboutContainer {
    height: 100%;
    position: relative;
}
.light.aboutContainer {
    background-color: #e1e1e1;
}
.dark.aboutContainer{
    background-color: #232B38;
}
.headerWrap,.aboutBox {
    display: flex;
}
.headerWrap {
    align-items: center;
    justify-content: center;
}
.aboutBox {
    padding: 0 100px;
    margin-top: 50px;
}
.profileBox {
    width: 350px;
    height: 350px;
    margin-right: 80px;
}
.about {
    font-size: 24px;
    letter-spacing: 0.12em;
    line-height: 35px;
    margin: 26px 0 50px;
}
.skillBox {
    margin: 50px 0 20px;
}
.skillHeading {
    font-size: 24px;
    letter-spacing: 0.1em;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 32px;
}
.light.skillHeading,
.light.about{
    color: #000;
}
.dark.skillHeading,
.dark.about{
    color: #E2E4E6;
}
.tagWrap {
    margin-right: 10px;
}
.mounted {
    padding: 8px 10px;
    border-radius: 4px;
    position: absolute;
    top: 20px;
    right: 100px;
    border: 1px solid #0a73eb;
    color: #0a73eb;
    opacity: 0;
    transform: translateY(-35px);
    animation: showMount 2s linear 0.2s
}
@keyframes showMount {
    0% {
        opacity: 0;
        transform: translateY(-35px);
    }

    30%,
    70% {
        opacity: 1;
        transform: translateY(0);
    }
}