.homeContainer {
    display: flex;
    padding: 125px 100px 165px;
    box-sizing: border-box;
    height: 100%;
    position: relative;
}
.light.homeContainer {
    background-color: #E1E1E1;
}
.dark.homeContainer {
    background-color: #232B38;
}
.profileBox {
    width: 350px;
    height: 350px;
    margin-right: 80px;
}
.name {
    font-size: 24px;
    letter-spacing: 0.12em;
    font-weight: bold;
}
.light.name,.light.about {
    color: #000;
}
.dark.name ,.dark.about{
    color: #E2E4E6;
}
.role {
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 0.12em;
    margin-top: 12px;
}
.default.role {
    color: #62554F;
}
.dark.role {
    color: #D48A68;
}
.about {
    font-size: 24px;
    letter-spacing: 0.12em;
    line-height: 35px;
    margin: 26px 0 50px;
}
.mounted {
    padding: 8px 10px;
    border-radius: 4px;
    position: absolute;
    top:20px;
    right: 100px;
    border: 1px solid #0a73eb;
    color: #0a73eb;
    opacity: 0;
    transform: translateY(-35px);
    animation: showMount 2s linear 0.2s
}

@keyframes showMount {
    0% {
        opacity: 0;
        transform: translateY(-35px);
    }
    30%, 70% {
        opacity: 1;
        transform: translateY(0);
    }
}