.contactContainer {
    height: 100%;
    position: relative;
}
.light.contactContainer {
    background-color: #263137;
}
.dark.contactContainer {
    background-color: #232B38;
}
.headerWrap,.contactDetail {
    display: flex;
    align-items: center;
    justify-content: center;
}
.contactWrap {
    width: 50%;
    margin-top: 50px;
}
.input,.textarea {
    width: 100%;
    padding: 0 35px;
    margin-bottom: 32px;
    font-size: 24px;
    border-radius: 10px;
    background-color: transparent;
}
.light.input,
.light.textarea {
    border: 3px solid #f4f4f4;
    color: #fff;
}
.dark.input,
.dark.textarea {
    border: 3px solid #E2E4E6;
    color: #E2E4E6;
}
.input {
    height: 68px;
}
.textarea {
    height: 195px;
    padding-top: 20px;
}
.input::placeholder,
.textarea::placeholder {
    color: #fff;
}
.mounted {
    padding: 8px 10px;
    border-radius: 4px;
    position: absolute;
    top: 20px;
    right: 100px;
    border: 1px solid #0a73eb;
    color: #0a73eb;
    opacity: 0;
    transform: translateY(-35px);
    animation: showMount 2s linear 0.2s
}
@keyframes showMount {
    0% {
        opacity: 0;
        transform: translateY(-35px);
    }

    30%,
    70% {
        opacity: 1;
        transform: translateY(0);
    }
}