.container {
    display: flex;
    align-items: center;
    height: 100px;
    padding: 0 50px;
    flex-shrink: 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.light.container {
    background-color: #F4F4F4;
}
.dark.container {
    background-color: #1B2133;
}
.name {
    font-size: 32px;
    font-weight: bold;
}
.light.name {
    color: #000;
}
.dark.name {
    color: #fff;
}
.name,.tabsWrap {
    flex-grow: 1;
    min-width: 0;
}
.tabsWrap {
    display: flex;
    justify-content: flex-end;
}