.tabConatiner {
    display: flex;
    align-items: center;
}
.tab {
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 0.3em;
    padding: 0 7px;
    height: 35px;
    border-bottom: 2px solid transparent;
    /* text-decoration: none; */
    margin-left: 30px;
    text-align: center;
    cursor: pointer;
}
.light.tab {
    color: #000;
}
.dark.tab {
    color: #E2E4E6;
}
.light.tab.active {
    border-color: #483F40;
}
.dark.tab.active {
    border-color: #E2E4E6;
}