.switch {
    position: absolute;
    top: 35px;
    left: 130px;
    height: 30px;
    width: 60px;
    border-radius: 30px;
    padding: 8px;
    cursor: pointer;
    box-sizing: border-box;
}
.themeIcon {
    position: absolute;
    height: 20px;
    width: 20px;
    top: 5px;
    left: 4px;
    transition: all 0.2s ease;
}
.light.switch {
    background: #d3d3d3;
}
.dark.switch {
    background: #333;
}
.light.themeIcon {
    fill: #333;
    transform: rotateZ(-180deg);
}
.dark.themeIcon {
    fill: #ffff00;
    transform: rotateZ(0deg);
    left: calc(50% + 4px);
}