.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: relative;
}
.contentContainer {
    flex-grow: 1;
    min-width: 0;
    min-height: 0;
}
.themeButton {
    border: 1px solid #d5dde7;
    border-radius: 4px;
    height: 35px;
    width: 35px;
    position: absolute;
    top: 33px;
    left: 120px;
}
.dark.themeButton {
    background-color: #262f3d;
}
.svg {
    height: 33px
}
.moonIcon {
    fill: #0053b8
}
.sunIcon {
    fill: #f9dd4b;
}